* {
  margin: 0px;
  padding: 0;
}

.body {
  margin: 0;
  padding: 0;
  background: url(LoginBG.jpg);
  background-size: cover;
}

.button {
  display: flex;
  align-items: center;
  background-color: rgb(255, 238, 0);
  padding: 10px;
  margin-left: 10px;
  font-size: 15px;
  /*styling of button*/
  border-radius: 20px;
  border-width: 0px;
  font-family: "Segoe UI";
  font-weight: bold;
  box-shadow: 0 7px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.2s;
  cursor: pointer;
}

.button a {
  text-decoration: none;
  color: white;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.527);
  color: white;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.loc {
  background-color: rgb(255, 238, 0);
  padding: 10px;
}

header {
  height: 70px;
  background-color: rgb(255, 238, 0);
  display: flex;
  align-items: center;
}

header > h1 {
  font-size: 30px;
  font-weight: bolder;
  margin-top: 0;
  margin-left: 40px;
  align-items: center;
}

header > h1 a {
  color: white;
  text-decoration: none;
  font-family: monospace;
  text-shadow: rgb(144, 8, 8) 6px 8px 15px;
}
